.bash_history
.cache
.cargo
.local
.nix-defexpr
.ssh
target
terraform/.terraform/providers
.nix-channels
.nix-profile
xpdf-v3-02/xpdf
xpdf-v3-02/corpus
xpdf-v3-02/.devenv
xpdf-v3-02/.devenv.flake.nix
